/* /css/header-responsive.css - Consistent header logo sizing across all pages */
/* Extracted from index.html to ensure uniform header appearance */

/* Base styles */
.header-logo {
    height: 60px;
    width: auto;
    transition: all 0.3s ease-in-out;
}

.header-text-logo {
    width: 220px;
    height: auto;
    transition: all 0.3s ease-in-out;
}

.scrolled .header-logo {
    height: 40px;
}

.scrolled .header-text-logo {
    width: 170px;
}

/* iPhone SE (375x667) */
@media screen and (max-width: 375px) and (max-height: 667px) {
    .header-logo {
        height: 45px;
    }
    .header-text-logo {
        width: 160px;
    }
    .scrolled .header-logo {
        height: 35px;
    }
    .scrolled .header-text-logo {
        width: 130px;
    }
}

/* iPhone 12/13/14 (390x844) */
@media screen and (min-width: 376px) and (max-width: 390px) and (max-height: 844px) {
    .header-logo {
        height: 50px;
    }
    .header-text-logo {
        width: 180px;
    }
    .scrolled .header-logo {
        height: 38px;
    }
    .scrolled .header-text-logo {
        width: 150px;
    }
}

/* iPhone 12/13/14 Pro Max (428x926) */
@media screen and (min-width: 391px) and (max-width: 428px) and (max-height: 926px) {
    .header-logo {
        height: 55px;
    }
    .header-text-logo {
        width: 200px;
    }
    .scrolled .header-logo {
        height: 42px;
    }
    .scrolled .header-text-logo {
        width: 165px;
    }
}

/* Galaxy S21/S22/S23 (360x800) */
@media screen and (max-width: 360px) and (max-height: 800px) {
    .header-logo {
        height: 40px;
    }
    .header-text-logo {
        width: 140px;
    }
    .scrolled .header-logo {
        height: 32px;
    }
    .scrolled .header-text-logo {
        width: 120px;
    }
}

/* Galaxy S21/S22/S23 Ultra (412x915) */
@media screen and (min-width: 361px) and (max-width: 412px) and (max-height: 915px) {
    .header-logo {
        height: 52px;
    }
    .header-text-logo {
        width: 190px;
    }
    .scrolled .header-logo {
        height: 40px;
    }
    .scrolled .header-text-logo {
        width: 160px;
    }
}

/* Landscape orientation fixes */
@media screen and (max-height: 500px) and (orientation: landscape) {
    .header-logo {
        height: 35px;
    }
    .header-text-logo {
        width: 120px;
    }
    .scrolled .header-logo {
        height: 28px;
    }
    .scrolled .header-text-logo {
        width: 100px;
    }
}
